<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
  <title>Home Page</title>
        <link rel="stylesheet" href="../stylesheets/index.css">
        <link rel="stylesheet" href="../stylesheets/table.css">
<style>

</style>
</head>
<body>

<ul>
  <li><a class="active" href="profile.html">Vitchain</a></li>
  <li><a href="index.html">Home</a></li>
  <li style="float:right"><a href="/about">About</a></li>
  <li style="float:right"><a href="signup.html">Register</a></li>
  <li style="float:right"><a href="login.html">Login</a></li>
  <li style="float:right"><a href="/"></a></li>
</ul>
<h1>Your profile</h1>
<h3>Upload Your credentials here:</h>
<input></input>
<br/>
<br/>
<div>
<table>
  <tr>
    <th>Credential</th>
    <th> Details</th>
    <th>Type</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Source</th>
    <th>Verified by:</th>
  </tr>
  <tr>
    <td>Msc.</td>
    <td>
        Management
        Information
        Systems
    </td>
    <td>Degree</td>
    <td>02.11.2008</td>
    <td>No end
        date
    </td>
    <td>Null</td>
    <td>__</td>
  </tr>
  <tr>
    <td>Msc.</td>
    <td>
        Management
        Information
        Systems
    </td>
    <td>Degree</td>
    <td>02.11.2008</td>
    <td>No end
        date
    </td>
    <td>Null</td>
    <td>__</td>
  </tr>
  <tr>
    <td>Msc.</td>
    <td>
        Management
        Information
        Systems
    </td>
    <td>Degree</td>
    <td>02.11.2008</td>
    <td>No end
        date
    </td>
    <td>Null</td>
    <td>__</td>
  </tr>

</table>
</div>

</body>
</html>
