
body{    
    background-image: url(../static/images/19.jpg);
    padding: 10px;
    margin: 0;
    font-family: 'Comic Sans MS';
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #footer{
    position: fixed;
    bottom: 0px;
    height: 40px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    text-align: center;
  }
  
  .register, .login{
    background-color: #FFFFFF;
    position: relative;
    margin: 2% auto;
    width: 400px;
    height: auto;
    border-style: inset;
    padding: 12px;  
    color: black;
  }
  
  .login{
    margin-top: 132px;
  }
  
  #submit{
    background: burlywood;
    width: 200px;
    height: 30px;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 50px;
    color: white;
  }
  
  input[type="text"], input[type="password"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 4px;
    padding: 4px;
    width: 380px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    text-align: center;
  }
  
  #title{
    text-align:center;
    color: rgb(15, 15, 14);
    padding-top: 16px;
  }
  
  #p1{
      text-align: center;
  }
  @media screen and (max-width: 800px) {
    body,.footer {
      width: 100%;    
    }
  }
  